<div class="container mission">
  <h2>{{site.data.mission.title}}</h2>
  <p>{{site.data.mission.statement}}</p>
    <div class="row pillars">
      {% for pillar in site.data.mission.pillars %}
      <div class="col-sm-4 pillar">
        <a href="{{site.baseurl}}/{{pillar.link}}"><h4>{{pillar.title}}</h4></a>
        <div class="hoverboard pillar-inner">
          {% if pillar.description %}
          <p>{{pillar.description}}</p>
          {% endif %}
          <ul>
            {% for bullet in pillar.bullets %}
              <li>{{bullet}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
