{% comment %} Content sourced from pages/programs/*.md {% endcomment %}
{% assign cohort_id = include.content.id %}
{% assign overview = include.content.blocks.overview %}
<div class="row">
  <div class="col-sm-12 hoverboard">
      <h3>Overview</h3>
      <p>{{overview.description}}</p>
    {% if overview.images %}
      {% for image in overview.images %}
      <div class="col-sm-4">
          <img class="hoverimage img-responsive" src="{{site.baseurl}}/assets/images/cohort{{cohort_id}}/{{image}}">
      </div>
      {% endfor %}
    {% endif %}
  </div> 
</div>