{% comment %} Content sourced from pages/programs/*.md {% endcomment %}
{% assign participants = include.content.blocks.participants %}
{% assign divisions = participants.divisions %}

<div class="row">
  <div class="col-sm-12 hoverboard">
    <h3>The Participants</h3>
    <p>{{participants.description}}</p>

    {% for division in divisions %}
    <div class="col-sm-6">
      <table class="table participant-table">
        <tr>
          <th>{{ division[0] | upcase }}</th>
        </tr>
        <tr>
          <td>
            <ul>
            {% for agency in division[1] %}
              <li>{{agency}}</li>
            {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
</div>