---
layout: container
---
{% if page.status == 'past' %}
  {% include _past-program/overview.html content=page %}
  {% include _past-program/sponsors.html content=page %}
  {% include _past-program/projects.html content=page %}
  {% include _past-program/participants.html content=page %}
{% elsif page.status == 'upcoming' %}
  {% include _upcoming-program/overview.html content=page %}
  {% include _upcoming-program/sponsors.html content=page %}
  {% include _upcoming-program/data-providers.html content=page %}
  {% include _upcoming-program/applications.html content=page %}
{% else %}
  <p>This training program does not exist.<p>
{% endif %}
