{% comment %} Content sourced from pages/programs/*.md {% endcomment %}
{% assign data-providers = include.content.blocks.data-providers %}
<div class="row">
  <div class="col-sm-12 hoverboard">
    <h3>Data Providers</h3>
    <p>{{data-providers.description}}</p>
  </div>
  {% if data-providers.images %}
    {% for image in data-providers.images %}
    <div class="col-sm-4 hoverboard">
      <img class="agency-logo img-responsive" src="{{site.baseurl}}/assets/images/agency-logos/{{image}}">
    </div>
    {% endfor %}
  {% endif %}
</div>
