{% comment %} Content sourced from pages/programs/*.md {% endcomment %}
{% assign sponsors = include.content.blocks.sponsors %}
<div class="row">
  <div class="col-sm-12 hoverboard">
    <h3>Sponsors</h3>
    <p>{{sponsors.description}}</p>
  </div>
  {% if sponsors.images %}
    {% for image in sponsors.images %}
    <div class="col-sm-4 hoverboard">
      <img class="agency-logo img-responsive" src="{{site.baseurl}}/assets/images/agency-logos/{{image}}">
    </div>
    {% endfor %}
  {% endif %}
</div>
